# Windows default autosave extension
*.asv

# Compiled MEX binaries (all platforms)
*.mex

# Simulink autosave extension
*.autosave

# Matlab data files
*.mat

# Imaging files
*.nii
*.nii.gz
*.dcm
*.tar
*.gz
